* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.profile-icon {
    position: fixed;
    top: 15px;
    right: 20px;
    z-index: 1000;
}

.profile-icon img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.profile-icon img.active {
    transform: scale(1.5);
    box-shadow: 0 0 20px rgba(96, 165, 250, 0.8);
}


body {
    background: #0f172a;
    color: #e5e7eb;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(135deg, #2563eb, #1e40af);
}

header h1 {
    font-size: 3rem;
}

header button {
    margin-top: 20px;
    padding: 10px 25px;
    border: none;
    background: #fff;
    color: #1e40af;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 25px;
    background: #020617;
    padding: 15px;
    position: sticky;
    top: 0;
}

nav a {
    color: #93c5fd;
    text-decoration: none;
}

section {
    padding: 50px 20px;
    max-width: 900px;
    margin: auto;
}

h2 {
    margin-bottom: 12px;
    color: #60a5fa;
}

.skills span {
    display: inline-block;
    background: #1e293b;
    padding: 8px 15px;
    margin: 5px;
    border-radius: 20px;
}

.project {
    background: #020617;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.project a {
    color: #38bdf8;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 20px;
    background: #020617;
    margin-top: 40px;
}
